@model DownloadPhotosViewModel

<h2>DownloadFromXml Photos</h2>

<h3>Choose supplier settings</h3>

<form asp-action="DownloadFromXml" method="post">
    <label for="selectedSupplierXmlSetting">Select Supplier XML Setting:</label>
    <select id="selectedSupplierXmlSetting" name="selectedSupplierXmlSetting">
        <option value="">-- Select --</option>
        @foreach (var setting in Model.SupplierXmlSettings)
        {
            <option value="@setting.SupplierXmlSettingId">@setting.SettingName</option>
        }
    </select>
    <button type="submit">Download</button>
</form>

<h3>Choose folder</h3>

@using (Html.BeginForm("DownloadFromXL", "DownloadPhotos", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <label for="filePath" class="control-label">Choose folder:</label>
        <select name="filePath" class="form-control" asp-items="@ViewBag.stringPath">
        </select>
    </div>
    <input type="file" id="xmlFile" name="xmlFile" class="form-control" />

    <input type="hidden" asp-action="DownloadFromXL" />
    <button type="submit" class="btn btn-success">Download from Xl</button>
}

@*<div class="form-group">
<input type="file" id="xmlFile" name="xmlFile" class="form-control" />
</div>*@
<br />
@using (Html.BeginForm("DownloadFromXml", "DownloadPhotos", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <button type="submit" class="btn btn-success">Download from Xml</button>
}
<br />
@*@using (Html.BeginForm("DownloadFromXL", "DownloadPhotos", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <button type="submit" class="btn btn-success">Download from Xl</button>
}*@