<h2>DownloadFromXml Photos</h2>

@{
    var stringPath = new List<SelectListItem>
    {
        new SelectListItem { Text = "Select file folder", Value = "" },
        new SelectListItem { Text = "D:\\Downloads", Value = "D:\\Downloads" },
        new SelectListItem { Text = "C:\\Downloads", Value = "C:\\Downloads" },
        new SelectListItem { Text = "D:\\Downloads\\Telegram Desktop", Value = "D:\\Downloads\\Telegram Desktop" }
    };
}

<h2>Choose folder</h2>

@using (Html.BeginForm("DownloadFromXL", "DownloadPhotos", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <label for="filePath" class="control-label">Choose folder:</label>
        <select name="filePath" class="form-control" asp-items="@stringPath">
        </select>
    </div>

}

<div class="form-group">
<input type="file" id="xmlFile" name="xmlFile" class="form-control" />
</div>
<br />
@using (Html.BeginForm("DownloadFromXml", "DownloadPhotos", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <button type="submit" class="btn btn-success">Download from Xml</button>
}
<br />
@using (Html.BeginForm("DownloadFromXL", "DownloadPhotos", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <button type="submit" class="btn btn-success">Download from Xl</button>
}