@model xmlParserASP.Entities.SupplierXmlSetting

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SupplierXmlSetting</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SettingName" class="control-label"></label>
                <input asp-for="SettingName" class="form-control" />
                <span asp-validation-for="SettingName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupplierId" class="control-label"></label>
                <select asp-for="SupplierId" class="form-control" asp-items="ViewBag.SupplierId">
                    <option disabled selected value="">Select supplier</option>
                </select>
                <span asp-validation-for="SupplierId" class="text-danger"></span>
                
                @*<input type="hidden" asp-for="Supplier" />
                <script>
                    // Скрипт для обновления скрытого поля при выборе поставщика
                    $(document).ready(function () {
                        $('#SupplierId').change(function () {
                            $('#SelectedSupplier').val($(this).val());
                        });
                    });
                </script>*@
            </div>

            <div class="form-group">
                <label asp-for="Path" class="control-label"></label>
                <input asp-for="Path" class="form-control" />
                <span asp-validation-for="Path" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartGammaIDFrom" class="control-label"></label>
                <input asp-for="StartGammaIDFrom" class="form-control" />
                <span asp-validation-for="StartGammaIDFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductNode" class="control-label"></label>
                <input asp-for="ProductNode" class="form-control" />
                <span asp-validation-for="ProductNode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="paramAttribute" class="control-label"></label>
                <input asp-for="paramAttribute" class="form-control" placeholder="Fill just if OfferId " />
                <span asp-validation-for="paramAttribute" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelNode" class="control-label"></label>
                <input asp-for="ModelNode" class="form-control" />
                <span asp-validation-for="ModelNode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelXlColumn" class="control-label"></label>
                <input asp-for="ModelXlColumn" class="form-control" />
                <span asp-validation-for="ModelXlColumn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PictureNode" class="control-label"></label>
                <input asp-for="PictureNode" class="form-control" />
                <span asp-validation-for="PictureNode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PictureXlColumn" class="control-label"></label>
                <input asp-for="PictureXlColumn" class="form-control" />
                <span asp-validation-for="PictureXlColumn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="imageNameInCatImg" class="control-label"></label>
                <input asp-for="imageNameInCatImg" class="form-control" />
                <span asp-validation-for="imageNameInCatImg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhotoFolder" class="control-label"></label>
                <input asp-for="PhotoFolder" class="form-control" />
                <span asp-validation-for="PhotoFolder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantityNode" class="control-label"></label>
                <input asp-for="QuantityNode" class="form-control" />
                <span asp-validation-for="QuantityNode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupplierNode" class="control-label"></label>
                <input asp-for="SupplierNode" class="form-control" />
                <span asp-validation-for="SupplierNode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParamNode" class="control-label"></label>
                <input asp-for="ParamNode" class="form-control" />
                <span asp-validation-for="ParamNode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParamAttrNode" class="control-label"></label>
                <input asp-for="ParamAttrNode" class="form-control" />
                <span asp-validation-for="ParamAttrNode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
