@model xmlParserASP.Models.PriceQuantityViewModel

<h1>Update price and quantity</h1>

@if (ViewBag.SelectSupSetting != null)
{
    <h2>@ViewBag.SelectSupSetting</h2>
}

<form asp-controller="UpdatePriceQuantity" asp-action="Result" asp-method="post">
   @*  <label for="SelectedSetting">Select supplier</label> *@

    <select id="SelectedSetting" name="supplierXmlSettingId">

        <option value="">-- Select supplier setting --</option>

        @foreach (var item in Model.SupplierXmlSettings)
        {
            <option value="@item.SupplierXmlSettingId">@item.SettingName</option>
        }
    </select>
    <button type="submit" class="btn btn-primary">Update price and quantity</button> 
</form>