@model xmlParserASP.Models.PriceQuantityViewModel

<h1>Update price and quantity</h1>

<form asp-controller="UpdatePriceQuantity" asp-method="post">
    <label for="SelectedSetting">Select supplier</label>

    <select id="SelectedSetting" name="SelectedSetting">

        <option value="">-- Select supplier setting --</option>

        @foreach (var item in Model.SupplierXmlSettings)
        {
            <option value="@item.SettingName">@item.SettingName</option>
        }
    </select>
    <input type="submit" value="Update price and quantity"/>
</form>