@model xmlParserASP.Models.PriceQuantityViewModel

<h1>Update price and quantity</h1>

<form asp-controller="UpdatePriceQuantity" asp-method="post">
    
    <select name="SupplerXmlSetting">

        <option value="-- Select supplier setting --" selected></option>

        @foreach (var item in Model.SupplierXmlSettings)
        {
            <option value="@item.SettingName">@item.SettingName</option>
        }
    </select>
    <input type="submit" value="Update price and quantity" />
</form>