@model xmlParserASP.Models.PriceQuantityViewModel

<h1>Update price and quantity</h1>

@if (ViewBag.SelectSupSetting != null)
{
    <h3 class="alert-danger">@ViewBag.SelectSupSetting</h3>
}

<form asp-controller="UpdatePriceQuantity" asp-action="Result" asp-method="post">

    @foreach (var item in Model.SupplierXmlSettings)
    {
        <input type="checkbox" name="settingList" value="@item.SupplierXmlSettingId" checked="@Model.IsChecked">
        @item.SettingName <br />
    }
    
    <button type="button" class="btn-light" onclick="selectAll()">Choose all</button>
    <button type="button" class="btn-light" onclick="deselectAll()">Deselect All</button>

    <button type="submit" class="btn btn-primary">Update price and quantity</button>
</form>

<script>

    var checkboxes = document.getElementsByName('settingList');

    function selectAll() {
        
        checkboxes.forEach(function(checkbox) {
            checkbox.setAttribute('checked', 'checked');
        });
    }

    function deselectAll() {
        checkboxes.forEach(function(checkbox) {
            checkbox.removeAttribute('checked');
        });
    }
</script>