@* @model PriceQuantityViewModel *@

<h1> Result of prices and quantity update</h1>

@{
    @if (ViewBag.PriceError != null)
    {
        <div style="color: red">@ViewBag.PriceError</div>
    }

    @if (ViewBag.QuantityError != null)
    {
        <div style="color: red">@ViewBag.QuantityError</div>
    }

    var stateMessages = ViewBag.UpdateQuantityResult;
    var totalStateMessages = ViewBag.TotalMessages;

    if (stateMessages == null)
    {
        <text>No one product was found or updated. Check your settings</text>
    }

    <table border="1" style="table-layout: fixed; width: 100%; border-collapse: collapse;" id="myTable">
    <thead>
        <tr>
            <th>SuppName</th>
            <th>What</th>
            <th>Products in DB</th>
            <th>Products in XML</th>
            <th>Not found in XML</th>
            <th>Products updated</th>
            <th>Value in DB was correct</th>
            <th>Set manually</th>
            
            </tr>
        </thead>
        <tbody>
        @foreach (var message in totalStateMessages)
        {
            <tr>
                @foreach (var part in message.Item1.Split('_'))
                {
                    <td>@part</td>
                }
            </tr>
        }
        </tbody>
    </table>

    <br />

    int count = 0;

    if (stateMessages != null)
    {
        foreach (var qty in stateMessages)
        {
            count++;
            <div style="color: @qty.Item2">@count _@qty.Item1</div>
        }
    }
    
}

@section scripts {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}