@model IEnumerable<xmlParserASP.Entities.Gamma.NgCategoryDescription>


@{
    ViewData["Title"] = "Index";
}

<h1>Select category</h1>


<form asp-action="GetProducts">

    <label for="SelectedCategoryId">Select category</label>
    <select id="SelectedCategoryId" name="SelectedCategoryId">
        <option value="">All categories</option>
        @foreach (var catName in Model)
        {
            <option value="@catName.CategoryId">@catName.Name</option>
        }

    </select>

    <button type="submit" class="btn-primary">Submit</button>


</form> 