@model List<xmlParserASP.Entities.Gamma.ProductsManualSetQuanity>

<h1>Products list with manually discount set</h1>

<div>
    <table class="priceQuantityTable">
        <thead>
            <tr>
                <th>Code</th>
                <th>Quantity</th>
                <th>Date start</th>
                <th>Date end</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var code in Model)
            {
                <tr>
                    <td>@code.Sku</td>
                    <td>@code.SetInStockQty</td>
                    <td>@code.DateStart</td>
                    <td>@code.DateEnd</td>
                </tr>
            }
        </tbody>
    </table>
</div>