@model xmlParserASP.Models.MyAttribute
@using (Html.BeginForm())
{

    @Html.HiddenFor(m => m.MyAttrId)

    <label>Course Name</label>
    @Html.EditorFor(m => m.MyAttrName)

    

    <input type="submit" value="Save" />
}