@using xmlParserASP.Entities
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<xmlParserASP.Models.MyAttributeViewModel>
@{
    List<SupplierAttributeViewModel> SupplierAttributes = ViewBag.SupplierAttributes;

}
@using (Html.BeginForm())
{

    <table>
        @{int i = 0;}
        @foreach (var m in Model)
        {
            <tr>
                <td>
                    <div class="column">
                    <input type="hidden" value="@m.MyAttributeId" name="saveattributes[@i].MyAttributeId"/>
                    <input type="text" readonly value="@m.MyAttributeName" name="saveattributes[@i].MyAttributeName"/>
                    </div>
                </td>
                <td>
                    <select name="saveattributes[@i].SupplierAttributeId">
                        <option value="" selected>Оберіть атрибут</option>
                        @foreach (var o in SupplierAttributes)
                        {
                            <option value="@o.SupplierAttributeId">@o.SupplierAttributeName</option>
                        }
                    </select>

                </td>

            </tr>

            i++;

        }


    </table>

    <input type="submit" value="Save" />
}